.title {
    h1 {
        font-family: 'novatica-bold';
        font-size: 35px;
        letter-spacing: 1px;
    }
    h2 {
        font-family: 'novatica-light';
        font-size: 25px;
        letter-spacing: 1px;
    }
}