h2 {
    color: white;
    font-size: 25px;
    letter-spacing: 0.5px;
}

p {
    color: #BFBFBF;
    font-family: 'stolzl-regular';
    font-weight: 500;
    font-size: 14.5px;
    letter-spacing: 0.5px;
}

.link{
    cursor: pointer;
    &:hover{
        text-decoration: underline;
        color: #B76B79;
    }
}

.footer-options {
    width: 800px;
    margin: 0 auto;

    ul {
        list-style: none; 
        padding: 0; 
    }
      
    li {
        display: inline-block; 
        margin-right: 20px; 
        margin-bottom: -10px;
    }
}

.payment-options{
    ul {
        list-style: none; 
        padding: 0; 
        vertical-align: middle;
    }
      
    li {
        display: inline-block; 
        margin-right: -8px; 
        margin-bottom: -10px;
        vertical-align: middle;
    }

    .img {
        width: 35px;
        height: 22px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

.footer-info {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 8px;

    p {
        font-size: 14px;
        display: inline-block;
        margin: 0;
        margin-right: 4px;
    }
}

.m-logo {
    cursor: pointer;
    width: 68px;
    height: 30px;
}

/* Cuando la pantalla se hace pequeña */

@media (max-width: 746px) {
    h2 {
        display: flex;
        margin-left: 8%;
    }

    .footer-options {
        width: 92%;
        margin: 0 auto;
        margin-left: 8%;
    
        ul {
            list-style: none; 
        }
          
        li {
            display: flex;
            margin-right: 20px; 
            margin-bottom: 0px;
        }
    }

    .payment-options {
        margin-left: 8%;
        margin-right: 8%;
    }

    .footer-info {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 8px;
    }
  }



