.App {
  text-align: center;
}

header {
  margin-bottom: 150px;
}

.about {
  height: 500px;
  background-color: pink;
}

.languages {
  height: 500px;
  background-color: purple;
}

.projects {
  height: 500px;
  background-color: skyblue;
}

.contact {
  height: 250px;
  background-color: green;
}
